# DutyContent configuration: 2021-06-05 오후 11:32:50

# config
Language=Korean(Actoz)

# duty
DutyLanguage=Korean
DutyActiveFate=0
DutyFate0=
DutyFate1=
DutyFate2=
DutyFate3=
DutyLogFontFamily=Microsoft Sans Serif
DutyLogFontSize=12
DutyEnableOverlay=True
DutyOverlayLocationX=0
DutyOverlayLocationY=0
DutyOverlayClickThru=False
DutyEnableSound=False
DutySoundInstanceFile=
DutySoundInstanceVolume=100
DutySoundFateFile=
DutySoundFateVolume=100
DutyUseNotifyLine=False
DutyNotifyLineToken=
DutyUseNotifyTelegram=False
DutyNotifyTelegramId=
DutyNotifyTelegramToken=
DutyUsePing=False
DutyPingColor0=FF000040
DutyPingColor1=FF400080
DutyPingColor2=FF804000
DutyPingColor3=FFDDA0DD
DutyPingGraph=False
DutyPingDefAddr=

